@import url("https://fonts.googleapis.com/css?family=Comfortaa|Fredoka+One");

html {
    position: relative;
    min-height: 100%;
    font-family: "Fredoka One";
}

body {
    margin-bottom: 60px;
}

.img {
    width: 60%;
    margin-top: 30px;
}

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

.navbar {
    background-color: #000000;
}

a {
    color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-link {
    color: #33ccff;
    font-size: 18px;
    font-family: "Fredoka One";
}

h1, h2 {
    margin-top: 30px;
    margin-bottom: 20px;
    color: #33ccff;
    font-size: 30px;
    font-family: "Fredoka One";
}

h2 {
    color: #000000;
}

a:hover, a:active {
    color: #33ccff;
    text-decoration: none;
}

#privacy {
    color: #33ccff;
    font-size: 18px;
    font-family: "Fredoka One";
}

.check {
    align-items: center;
}